<! DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Horoscope{% endblock %}</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body>

<header>
    <nav>
    <ul>
        <li><a href="{{ path( 'homepage' ) }}">Accueil</a></li>
        <li><a href="{{ path( 'signe_index' ) }}">Signe du zodiaque</a></li>
        <li><a href="{{ path( 'app_login' ) }}">Espace admin</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block body H% endblock %}
</main>

<footer>
    <p> &copy; {{ "now" | date("Y") }} Mon Horoscope. Tous droits réservés. </p>
</footer>


<script> src="../assets/horoscope.js" </script>
</body>
</html>